<p id="notice"><%= notice %></p>
<h1>Shepherd</h1>
<h2>LAMBS Data</h2>
<p>
  <%= link_to 'Download as CSV', lamb_data_path(format: :csv) %>
</p>

<table class = "centered">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Identifier</th>
      <th>Activity</th>
      <th>Light</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lamb_data.each do |lamb_datum| %>
      <tr>
        <td><%= lamb_datum.created_at.to_formatted_s(:long) %></td>
        <td class = "centered"><%= lamb_datum.hex_identifier %></td>
        <td><%= lamb_datum.activity %></td>
        <td><%= lamb_datum.light %></td>
        <td><%= link_to 'Show', lamb_datum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lamb datum', new_lamb_datum_path %>
